form.listing-search-form{

  div.form-group{
    display: flex;
    justify-content: center;

    mat-form-field{
      margin: 0 15px;
    }
  }

  #search-button{
    width: 100%;
    max-width: 200px;
    display: block;
    margin: auto;
  }
}

@media all and (max-width: 800px){
  div.form-group{
    flex-direction: column;
  }
}
